#register {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f7f7;
}
#register .login-card {
  background: #fff;
  width: 24rem;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);
}
#register .login-card .card-title {
  background-color: #00b89c;
  padding: 2rem;
}
#register .login-card .card-title h1 {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}
#register .login-card .content {
  padding: 3rem 2.5rem 5rem;
}
#register .login-card input,
select {
  display: block;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1.75rem;
  padding: 0.25rem 0;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  transition: all 0.5s;
}
#register .login-card input:hover {
  border-color: #7a7a7a;
}
#register .login-card input:active,
#register .login-card input:focus {
  border-color: #00d1b2;
}

#register .login-card .options {
  color: #b5b5b5;
  margin-bottom: 1.5rem;
}

.danger {
  color: #ff3860;
  float: right;
}

.success {
  color: #5cb85c;
  float: right;
}
input:focus {
  outline: none;
}
.forgotpwd {
  float: right;
}
