#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f7f7f7;
}
#login .login-card {
  background: #fff;
  width: 24rem;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);
}
#login .login-card .card-title {
  background-color: #00b89c;
  padding: 2rem;
}
#login .login-card .card-title h1 {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}
#login .login-card .content {
  padding: 3rem 2.5rem 5rem;
}
#login .login-card #username,
#login .login-card #password {
  display: block;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1.75rem;
  padding: 0.25rem 0;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  transition: all 0.5s;
}
#login .login-card #username:hover,
#login .login-card #password:hover {
  border-color: #7a7a7a;
}
#login .login-card #username:active,
#login .login-card #username:focus,
#login .login-card #password:active,
#login .login-card #password:focus {
  border-color: #00d1b2;
}
#login .login-card a {
  font-size: 0.8rem;
}
#login .login-card .options {
  color: #b5b5b5;
  margin-bottom: 1.5rem;
}

label {
  color: #ff3860;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
